
@{
    ViewData["Title"] = "DisplayEmail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="text-center text-info fw-bold">از ثبت نام شما سپاسگزاریم</h3>
<hr />
<h4 class="text-center">لطفا برای تکمیل فرآیند ثبت نام، بر روی لینک فعالسازی که به ایمیل شما ارسال شده کلیک کنید</h4>

