@model IdentityProject.UI.Models.Dto.Account.ForgotPasswordDto

@{
    ViewData["Title"] = "ForgotPassword";
}



<h4 class="text-center">ایمیل خود را برای ادامه عملیات تنظیم مجدد رمز عبور وارد نمائید</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                @ViewBag.Message
            </div>
        }
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="دریافت ایمیل" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

